In [2]:
# SoftBank Stock data from Stooq.com 
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-01'
end = '2023-04-18'
#9984:ソフトバンク
#df = data.DataReader('9984.JP', 'stooq', start, end)
#7832:バンナム
df = data.DataReader('7832.JP', 'stooq', start, end)

In [3]:
df

              Open    High     Low   Close   Volume
Date
2023-04-18  2971.0  3029.0  2952.5  3024.0  2615200
2023-04-17  2973.5  2976.0  2937.0  2961.0  1562000
2023-04-14  2949.0  2961.5  2927.0  2961.5  2957600
2023-04-13  2900.0  2928.5  2900.0  2928.5  1647300
2023-04-12  2897.5  2919.5  2884.5  2914.5  1490800
2023-04-11  2904.5  2919.0  2881.5  2890.0  1600800
2023-04-10  2872.5  2911.0  2870.5  2898.5  1454900
2023-04-07  2871.5  2871.5  2833.0  2840.5  1374800
2023-04-06  2880.0  2888.0  2861.0  2876.5  1964600
2023-04-05  2897.5  2915.0  2864.5  2874.0  2264100
2023-04-04  2888.0  2917.0  2876.0  2909.0  1979500
2023-04-03  2910.0  2934.0  2900.0  2910.0  2508600

In [4]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>